<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="vinyl-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vinyl
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="vinyl-link">
                <a href="{% url 'products' %}?category=vinyl_classical" class="dropdown-item">Classical vinyl</a>
                <a href="{% url 'products' %}?category=vinyl_pop" class="dropdown-item">Pop vinyl</a>
                <a href="{% url 'products' %}?category=vinyl_folk" class="dropdown-item">Folk vinyl</a>
                <a href="{% url 'products' %}?category=vinyl_oldies" class="dropdown-item">Oldies vinyl</a>
                <a href="{% url 'products' %}?category=vinyl_classical,vinyl_pop,vinyl_folk,vinyl_oldies" class="dropdown-item">All Vinyl</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cd-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CD's
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cd-link">
                <a href="{% url 'products' %}?category=cd_classical" class="dropdown-item">Classical cd's</a>
                <a href="{% url 'products' %}?category=cd_pop" class="dropdown-item">Pop cd's</a>
                <a href="{% url 'products' %}?category=cd_folk" class="dropdown-item">Folk cd's</a>
                <a href="{% url 'products' %}?category=cd_oldies" class="dropdown-item">Oldies cd's</a>
                <a href="{% url 'products' %}?category=cd_classical,cd_pop,cd_folk,cd_oldies" class="dropdown-item">All CD's</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>